<!DOCTYPE html>
<html>
  <head>
    <title>Películas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style> a:link, a:visited, a:active {
      text-decoration:none;
  }</style>
  </head>
  <body>
    <header>
      <h1>DH Movies</h1>
      <nav>
        <ul>
          <li>
            <a href="/peliculas/crear">CREAR PELíCULAS</a>
          </li>
          <li>
            <a href="/peliculas">VER PELíCULAS</a>
          </li>
          <li>

          </li>
        </ul>
      </nav>
    </header>